    
<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8" />
    <title>Sledilec aktivnosti</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    body {background-image:url("../static/fourth-bg.png");
        color: white;
        text-align: justify;
    }
    li {
        list-style-type: none
    }
    h1{
        text-align: center;

    }
    </style>
</head>

<body>

  <h1>Sledilec aktivnosti</h1>

    {{!base}}
</body>



</html>