% rebase('base.html')

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
            <a class="nav-link" href="/">Domov</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ustvari/">Ustvari novo tabelo</a>
             </li>
            <li class="nav-item">
             <a class="nav-link " href="/dodaj/">Dodaj aktivnost</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/izbris/">Izbriši aktivnost</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/zgodovina/">Zgodovina aktivnosti</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link " href="/izberi/">Zgodovina aktivnosti po filtrih</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/statistika/">Statistika</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
  <table border="1", align="center" class='table table-hover table-sm'>
    <thead class="thead-light" align="center">
      <tr>
          <th>
          </th>
          <th>
            Plavanje
          </th>
          <th>
            Kolesarjenje
          </th>
          <th>
            Tek
          </th>
    </thead>
    <tbody align='center'>
    <tr>
      <td>
        Število vnešenih aktivnosti
      </td>
      % for element in tabela:
        <td>
        {{element}}
        </td>
      % end
    </tr>
  </tbody>
  </table>

  <br>
   <img src="../static/pita.png" alt = 'Pie Chart' height="300", width="450" >
  <br>


  <table border="1", align="center" class='table table-hover table-sm'>
    <thead class="thead-light" align="center">
      <tr>
        <th>
          Mesec
        </th>
        <th>
          Število aktivnosti
        </th>
        <th>
          Število plavanj
        </th>
        <th>
          Preplavana razdalja
        </th>
        <th>
          Število Kolesarjenj
        </th>
        <th>
          Prekolesarjena razdalja
        </th>
        <th>
            Število tekov
        </th>
        <th>
          Pretečena razdalja
        </th>
      </tr>
    </thead>
    <tbody align="center">
    %for element in meseci:
    <tr>
      %for podelement in element:
        <td>
          {{podelement}}
        </td>
      %end
    </tr>
    %end
  </tbody>
  </table>

  <br>
  
  <table border="1", align="center" class='table table-hover table-sm'>
    <thead class="thead-light" align="center">
      <tr>
        <th colspan="7">
          Najdaljše aktivnosti
        </th>
      </tr>
    </thead>
    <tbody align="center">
    %for i in range(len(najdaljsi)):
      <tr>
        %for element in najdaljsi[i][:7]:
        <td  title = {{najdaljsi[i][-1]}}>
          {{element}}
        </td>
        %end
      </tr>
    %end
  </tbody>
  </table>