% rebase('base.html')

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
            <a class="nav-link" href="/">Domov</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ustvari/">Ustvari novo tabelo</a>
             </li>
            <li class="nav-item">
             <a class="nav-link " href="/dodaj/">Dodaj aktivnost</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/izbris/">Izbriši aktivnost</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/zgodovina/">Zgodovina aktivnosti</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link active" href="/izberi/">Zgodovina aktivnosti po filtrih</a>
            </li>
            <li class="nav-item">
               <a class="nav-link " href="/statistika/">Statistika</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<div class="container">
<table border="1", align="center" class='table table-hover table-sm'>
  <thead class="thead-light" align="center">
  <tr>
    % for element in tabela[0]:
      <th>
        {{element}}
      </th>
    % end
  </tr>
  </thead>
  <tbody align="center">
  % for vrstica in tabela[1:]:
    <tr>
      % for element in vrstica[:-1]:
      % 
        <td title = {{vrstica[-1]}}>
          {{element}}
        </td>
      % end
    </tr>
  % end
  </tbody>
</table>
</div>